{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/images/firex-aq_logo.ico' %}">  
    <link rel="stylesheet" href="{% static 'assets/css/science.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
    <title>FIREX-AQ</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-content">
                    <ul class="menu">
                        <li class="menu-list">
                            <a href="{% url 'about' %}" class="menu-link">About</a>
                        </li>
                        <li class="menu-list">
                            <a href="{% url 'scoring' %}" class="menu-link">Scoring</a>
                        </li>
                    </ul>
                    <a href="{% url 'main' %}" class="logo">
                        <img src="{% static 'assets/images/firex-aq_logo.png' %}" alt="" class="logo-image">
                    </a>
                    <ul class="menu">
                        <li class="menu-list">
                            <a href="{% url 'weather' %}" class="menu-link">Weather</a>
                        </li>
                        <li class="menu-list">
                            <a href="{% url 'developers' %}" class="menu-link">Science of Smoke</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <div class="banner-content">
                    <h1 class="banner-title">
                        FIREX-AQ Science
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <div class="info">
        <div class="container">
            <div class="title"><h1>Background</h1></div>
        <div class="images">
            <img src="{% static './assets/images/2016firelabstackburn__HWorobecUMsm.jpg '%}" class="img-1">
            <img src="{% static './assets/images/diagram.png '%}" class="img-2">

        </div>
        <div class="text">
            <p>Over the past century, the combination of a warmer, drier climate and aggressive fire-control practices applied in the U.S. and Canada has produced forest conditions ripe for carrying large, destructive wildfires into developed landscapes. The fire suppression focus of land management during the 20th century interrupted natural fire cycles in wildlands, helping lead to a decline in forest health and a buildup of fuels in forested areas, which has escalated risks to life and property in or near the wildland-urban interface. Fire managers are increasingly allowing some naturally occurring fires to burn and adopting prescribed burns in favorable weather conditions to improve forest health and preempt larger, more destructive wildfires.

                Fire impacts occur over wide time and distance scales, from local to global, via many complex, interdependent, and poorly understood processes. A primary impact of wildfires and prescribed burns is the generation and transport of smoke.
                
                Prescribed fires can be a cost-effective method for wildland managers to reduce fuel loads, reset plant succession, improve forage conditions and recycle nutrients. Agricultural lands are also burned to remove vegetation, control weeds and insects, release nutrients in ash into the soil and to spur new growth. While prescribed fires and agricultural management fires generally don’t generate the massive plumes of smoke that wildfires do, on average they produce about as much smoke each year as wildfires.
                
                The chemistry of smoke is highly complex, always evolving, and influenced by a wide variety of factors. Initial constituents of smoke generated by a fire will vary based on a wide variety of factors including fuel type, quantity, structure, moisture content, fire intensity and fire weather conditions (temperature, relative humidity, wind speed and precipitation), each of which can change rapidly as the fire burns. Over the life cycle of a fire, combinations of flaming and smoldering combustion lead to different emissions at different times and at different locations within a fire. These variables also influence how the smoke plume rises, and the subsequent transport and chemical evolution of fire emissions, which determine the secondary products (e.g. evolved gases and aerosol species).
                
                Wildfire initiation can be natural (by lightning) or caused by a wide variety of human activities. Once ignited, wildfire growth is driven by weather conditions and fuel availability. Fire activity can be predicted on a broad seasonal scale, but fire conditions vary greatly from year to year, limiting the ability to predict fire impacts. This is especially true for impacts related to air quality, when fire emissions mix with anthropogenic pollution. One goal of FIREX-AQ research is to improve available information about smoke constituents and smoke transport to support decisions by public health officials.
                
                Because prescribed fires are planned, many criteria are evaluated prior to initiation to avoid the escape of flames beyond controls. Smoke transport is another primary consideration for fire managers looking to avoid exposure to nearby populations.
                
                State of the Science
                diagram
                Stable organic molecules in the gas and aerosol phase and the instruments that will be used to measure them on the NASA DC-8 aircraft: Possible combinations of their average carbon oxidation state (OSC) and number of carbon atoms (nC). Figure: Adapted from Kroll et al., Nature Chemistry, doi:10.1038/nchem.948 (2011)
                Previous airborne field studies have demonstrated the pervasiveness of biomass smoke in the atmosphere. However, FIREX-AQ would be the first field study specifically dedicated to the sampling and characterization of fires and their impacts from the point of emission.
                
                To understand the impact of smoke on the local and regional level, scientists must have accurate estimates of what’s burning, the quantity of emissions produced, the composition of those emissions and how those chemical compounds evolve in the atmosphere as they react with sunlight and other atmospheric constituents, including pollution sources. Scientific knowledge in each of these areas will need to advance in order to provide a detailed understanding of how smoke impacts air quality and climate, and to improve the efficacy of satellites in capturing data relevant to these goals.
                
                Consider estimates of fuel burned by a fire. The total amount of fuel contained in a given type of ecosystem can vary by a factor of 100. The amount of fuel that actually burns on a given day can further vary up to 10 percent, depending on fuel moisture, fire weather and fire activity. That’s a tremendous amount of variability.
                
                Data that would help scientists calculate emissions estimates from wildland fires and prescribed burns is relatively sparse. The most comprehensive study on emissions factors drew from just 39 fires sampled during eight field campaigns. For context, the National Interagency Fire Center tracked more than 58,000 wildfires in 2018. Airborne studies specific to crop burning adds only 12 more fires to the data set.
                
                Evolving analytical tools have allowed researchers to make significant progress in defining and quantifying the chemistry of biomass burning emissions. But factors that govern the physical and chemical transformations that take place as fire emissions are transported, diluted, and exposed to reactive molecules processes are still poorly understood.
                
                Fire emissions contain a number of unusual compounds. New compounds are being discovered as more sophisticated analytical techniques have been applied. The fundamental chemistry of some of these compounds in the atmosphere is unknown. Individual fire plumes can have very different behaviors.
                
                Scientists want to learn more about primary and secondary particles, and their role in creating photochemical ozone. Emission of toxic materials needs further investigation. Night-time plume evolution, air quality impacts, and exposure have not previously been studied. This information must be incorporated into smoke transport and air chemistry models in order to support short-term to long-term management and policy decisions.
                
                Satellites can be the most effective platform for estimating wildfire emissions, but their estimates depend on accurate data on burned area, fuel loading, fuel consumption and fuel-specific emission factors. Accurate data is often difficult to obtain.
                
                Still, satellites currently do a better job of estimating wildfire emissions than emissions from agricultural burns because they are based on satellite fire-detection methods that have limited resolution. Research suggests small fires can add anywhere from 4 to 26 percent to the total burned area from which emissions are calculated.
                
                In sum, the science of smoke is emerging as an important discipline within the field of atmospheric research, particularly for understanding the impact of fires on air quality and climate change. FIREX-AQ is designed to advance scientific understanding of key elements within this field to provide more useful and more accurate information for decision makers.</p>
        </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="first-item">
                    <a href="index.html" class="footer-logo">
                        <img src="{% static 'assets/images/firex-aq_logo.png' %}" alt="">
                        <h1>FIREX-AQ</h1>
                    </a>
                </div>
                <div class="second-item">
                    <ul class="social-media-menu">
                        <li class="social-menu-list">
                            <a href="#" class="social-menu-link">
                                <img src="https://img.icons8.com/fluency/344/instagram-new.png" alt="">
                            </a>
                        </li>
                        <li class="social-menu-list">
                            <a href="#" class="social-menu-link">
                                <img src="https://img.icons8.com/fluency/344/facebook-new.png" alt="">
                            </a>
                        </li>
                        <li class="social-menu-list">
                            <a href="#" class="social-menu-link">
                                <img src="https://img.icons8.com/color/344/twitter.png" alt="">
                            </a>
                        </li>
                        <li class="social-menu-list">
                            <a href="#" class="social-menu-link">
                                <img src="https://img.icons8.com/color/344/youtube-play.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="{% static 'assets/js/weather.js'%}"></script>
</body>
</html>