{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Scoring System for quality of Weather(FIREX-AQ)</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    </head>
    <body>
        <div class="title" style="width:100%; text-align:center; margin-top: 50px;">
            <h1 style="color:white;">FIREX-AQ Scoring System for Air Quality</h1>
        </div>
        <div style="display: flex; flex-direction:row; justify-content: space-around; width: 100%; align-items: center; padding: 20px 30px;">
            <div>
                 <h2 style="color:white">Information</h2>
                 <ul>
                    <li style="color: #fff; padding: 20px 0 20px 0;">Location: <b>Shady Hills</b></li>
                    <li style="color: #fff; padding: 20px 0 20px 0;">Date: <b>{{ date }}</b></li>
                    <li style="color: #fff; padding: 20px 0 20px 0;">Time: <b>{{start}} - {{end}}</b></li>
                 </ul>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112323.4597119454!2d-82.59660718455385!3d28.385802300247015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2a1c6330e1ef5%3A0xd92c72aed3da98ce!2sShady%20Hills%2C%20FL%2034610%2C%20USA!5e0!3m2!1sen!2s!4v1664692522422!5m2!1sen!2s" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h1 style="color:white; margin-top: 20px; border: 2px solid rgb(209, 209, 6);">Air Quality Analysis: <b style="color:rgb(209, 209, 6)">{{ dat }}/100</b></h1>
            </div>
            <div>
                <h2 style="color:white;">Air Quality</h1>
                    <li style="color: #fff; padding: 20px 0 20px 0;">CO2: <b>{{ co2 }}(ppm)</b></li>
                    <li style="color: #fff; padding: 20px 0 20px 0;">Windspeed: <b>{{ windspeed }}(m/s)</b></li>
                    <li></li>
            </div>
        </div>
    </body>
</html>