@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #333;
    color: #eee;
}

/* global styles */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section-title{
    text-align: center;
    color: #eee;
    font-weight: 600;
    font-size: 48px;
    padding:20px;
}

.container{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/* header styles */

.header{
    min-width: 100vh;
    background-image: url(../images/about-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgb(36, 35, 35);
    width: 100%;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo-image{
    width: 50px;
    height: 50px;
}

.menu{
    display: flex;
}

.menu-list{
    margin: 0 35px 0 35px;
}

.menu-link{
    color: #a19f9f;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

.menu-link:hover{
    color: #eee;
}

.banner{
    color: #fff;
    text-align: center;
} 

.banner-content{
    padding: 180px;
}

.banner-title{
    font-size: 80px;
}

.banner-text{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-btn{
    color: #333;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #eee;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.banner-btn:hover{
    color: #fff;
    background-color: #333;
}

.info-banner-img{
    width: 99%;
    border-radius: 15px;
    box-shadow:  0px 5px 30px 0px #000;
}

.info-section{
    margin-top: 80px;
}

.info-banner{
    display: flex;
    justify-content: center;
}

.info-text{
    margin-top: 50px;
}

.info-text>p{
    font-size: 18px;
    line-height: 30px;
}

.footer{
    background-color: #1d1d1d;
    box-shadow: 0px 1px 12px 0px #000;
    margin-top: 100px;
}

.footer-logo>img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.footer-logo>h1{
    color: #eee;
}

.footer-logo{
    display: flex;
}

.footer-content{
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.social-media-menu{
    display: flex;
}

.social-menu-list{
    margin-right: 35px;
}

.social-menu-link>img{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in;
}

.social-menu-link>img:hover{
    margin-top: -10px;
}

.line{
    height: 6px;
    border: none;
    background: linear-gradient(#000, #333, #efefef);
}